- content_for :title do
  Sign up
= bootstrap_form_for(resource, 
    as: resource_name, 
    url: registration_path(resource_name),
    layout: :horizontal, 
    label_col: "col-sm-6", 
    control_col: "col-sm-6") do |f|
  = devise_error_messages!
  
  = f.email_field :email, autofocus: true
  
  = f.password_field :password, autocomplete: "off"
  
  = f.password_field :password_confirmation, autocomplete: "off"
  = f.form_group do
    = f.submit "Sign up"
  = f.form_group do
    = render "devise/shared/links"
