- content_for :title do
  Sign in
= bootstrap_form_for(resource, 
    as: resource_name, 
    url: session_path(resource_name),
    layout: :horizontal, 
    label_col: "col-sm-6", 
    control_col: "col-sm-6") do |f|
  = f.email_field :email, autofocus: true
  = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    = f.form_group do
      = f.check_box :remember_me
  = f.form_group do
    = f.submit "Sign in"
  = f.form_group do
    = render "devise/shared/links"
