/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets"
@import "bootstrap"

html, body
  height: 100%

#wrap
  min-height: 100%
  margin: 0px auto -50px

#main
  padding-bottom: 50px

.footer
  height: 50px

  .navbar
    border-radius: 0px
    margin-bottom: 0px

.glyphicon:before
  padding-right: 5px
  vertical-align: -2px
  font-family: 'Glyphicons Halflings'

.glyphicon
  font-family: Serif
