.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{type: :button, 
        'data-toggle' => :collapse, 
        'data-target' => '.navbar-collapse'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_path} devpad.me
    .collapse.navbar-collapse
      = render 'menu_nav'
      = render 'menu_user'
