%ul.nav.navbar-nav
  = render 'menu_link', locals:{ href: contact_path, label: 'Contact', icon: 'envelope'}
  = render 'menu_link', locals:{ href: about_path, label: 'About', icon: 'star' }
  = #render 'menu_link', locals:{ href: 'dummy/nothing' }
