= render 'menu_link',
  locals: { href: '',
    label: current_account.email,
    icon: 'user'}
= render 'menu_link', 
  locals: { href: destroy_account_session_path,
    method: :delete, 
    label: "Sign out", 
    icon: 'log-out' }
