= render 'menu_link', 
  locals: { href: new_account_session_path, 
    label: "Sign in", 
    icon: 'log-in' }
= render 'menu_link', 
  locals: { href: new_account_registration_path, 
    label: 'Sign up', 
    icon: 'plus' }
