!!!
%html
  %head
    %title= yield(:title)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #wrap
      = render 'menu'
      
      .jumbotron
        .container
          %h1= content_for?(:title) ? yield(:title) : 'DevPad.me'

      .container#main{role: :main}
        .row
          .col-md-12= yield

    .footer
      = render 'footer'
